
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactPage</title>
</head>
<body>
<h2>This is contact page View</h2>
</body>
</html>
